@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,600;0,900;1,400&display=swap');
body {
    background-color: rgb(54, 77, 75);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    justify-content: space-evenly;
    margin-top: 60px;
}

.card.input {
    margin-right: 20px;
}

.card {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 2px 3px 6px rgba(4, 2, 2, 0.101);
    background: #fff;
    min-width: 240px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(245, 245, 227);
}

h2 {
    font-size: 26px;
    color: rgb(44, 52, 48);
    text-transform: uppercase;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.select {
    min-width: 200px;
    margin: 0;
    outline: none;
    border: 2px solid rgb(95, 95, 95);
    color: rgb(95, 95, 95);
    border-radius: 20px;
    font-size: 1rem;
    padding: 5px;
    display: block;
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

select::-ms-expand {
    display: none;
}

.select::after {
    display: none;
}

.btn {
    color: #334d38;
    position: relative;
    place-content: center;
    place-items: center;
    width: fit-content;
    border-radius: 99px;
    letter-spacing: 0.05em;
    border: 1px solid #334d38;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
}

input {
    margin: 0 auto;
    outline: none;
    border: 2px solid #ccc;
    display: block;
    width: 90%;
    height: 50px;
    color: #2c3e50;
    padding: 0.2rem 0.6rem;
    border-radius: 7px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.close {
    position: relative;
    right: 32px;
    top: 3px;
    height: 20px;
    opacity: 0.3;
    right: 0px;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    right: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.post div {
    width: 100%;
}

.pic img {
    width: 100%;
    padding: 5% 10%;
    margin: 0 auto;
}